@import '~font-awesome/css/font-awesome.css';

body {
  font-family: "Cabin", Helvetica, Arial;
  margin: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}