@import url(https://fonts.googleapis.com/css?family=Cabin);

.wrapper {
  position: absolute;
  width: 430px;
  margin: 10px 60px;
  -webkit-app-region: no-drag;
}

.player {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-color: black;
  background-color: var(--background-color);
  padding: 14px;
  width: 400px;
}

.cover {
  background-image: url("https://imgs.search.brave.com/rWV4-E3AUr3umKWuF0FnkRb-c6UMZrpm1HMVf9aqMwE/rs:fit:1000:1000:1/g:ce/aHR0cHM6Ly9wbmdp/bWcuY29tL3VwbG9h/ZHMvdmlueWwvdmlu/eWxfUE5HMTA1LnBu/Zw");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 7px;
  left: -50px;
  width: 120px;
  height: 120px;
  background-color: var(--background-color);
  box-shadow: 0 0 0 10px var(--background-color);
  border-radius: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.song-info {
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
}

.small-control {
  cursor: pointer;
  background-color: var(--background-color);
  border-style: hidden;
  color: var(--control-active-color);

  &:hover {
    color: var(--theme-color);
  }
}

.control {
  height: 60px;
  width: 60px;
  border-style: hidden;
  margin: 0px 10px;
  padding: 20px;
  background-color: var(--background-color);
  cursor: pointer;

  & i {
    display: block;
    color: var(--control-active-color);
    font-size: 26px;
    text-align: center;
    line-height: 1;

    // &:hover {
    //   color: var(--theme-color);
    // }
  }
}

ul {
  list-style-type: none;
  padding-left: 0px;

  & li {
    font-size: 14px;
  }
}

.progress {
  padding-left: 60px;
}

.track-time {
  font-size: 11px;
  height: 16px;
  margin-top: 4px;
  overflow: hidden;
}

.current-time {
  float: left;
}

.track-length {
  float: right;
}

.progress-area {
  position: relative;
  height: 4px;
  border-radius: 4px;
}

.progress-area {
  background-color: var(--theme-color-secondary);
  cursor: pointer;
}

.progress-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: var(--theme-color);
  transition: 0.2s ease width;
  z-index: 1;
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  background-color: var(--background-color);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-app-region: no-drag;

  &::-webkit-scrollbar {
    width: 12px;
    display: block;
    border: solid 6px transparent;
  }

  &::-webkit-scrollbar-track {
    background: var(--control-non-active-color);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border: 4px var(--control-non-active-color) solid;
  }
}

.playListItems li {
  cursor: pointer;
  display: block;
  margin: 0;
  color: var(--control-non-active-color);
}

.plItem {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: var(--control-active-color);

  &:hover {
    color: var(--theme-color);
  }
}

.plTitle {
  left: 50px;
  overflow: hidden;
  position: absolute;
  right: 65px;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.plNum {
  padding-left: 21px;
  width: 25px;
}

.plLength {
  position: absolute;
  right: 21px;
  top: 0;
}

.plRemove {
  padding-left: 340px;
}

button[disabled] {
  color: var(--control-non-active-color);
  cursor: context-menu;

  &:hover {
    color: var(--control-non-active-color);
  }
}

.playlist-footer {
  width: 100%;
}

.add-media-control {
  width: 100%;
  padding: 8px;
  -webkit-app-region: no-drag;
  color: var(--theme-color);
  border-style: hidden;
  border-radius: 8px;
  cursor: pointer;
}