<!-- <div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>

  <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
</div> -->


<div class="wrapper" style="-webkit-app-region: drag">
  <div class="player">
    <div class="cover" [ngStyle]="{animation:isPlaying?'rotation 3s infinite linear':''}"></div>
    <div class="song-info">
      <div class="band">{{ activeSong?.title }}</div>
      <button class="small-control" style="-webkit-app-region: no-drag" (click)="togglePlayList()"
      [ngStyle]="{'color': isPlayListOpened ? 'var(--theme-color)' : ''}">
        <i class="fa fa-ellipsis-h"></i>
      </button>
    </div>
    <div class="controls" style="-webkit-app-region: no-drag">
      <button class="control prev" (click)="playPreviousSong()">
        <i class="fa fa-step-backward"></i>
      </button>
      <button class="control play" *ngIf="isPlaying" (click)="player.pause()">
        <i class="fa fa-pause" aria-hidden="true"></i>
      </button>
      <button class="control play" *ngIf="!isPlaying" (click)="playSong(activeSong)">
        <i class="fa fa-play" aria-hidden="true"></i>
      </button>
      <button class="control next" (click)="playNextSong()">
        <i class="fa fa-step-forward"></i>
      </button>
      <ul class="control-options">
        <li>
          <button class="small-control" (click)="playRandomSong()" [disabled]="this.songs.length < 2"
            [ngStyle]="{'color': isPlayListOpened ? 'var(--theme-color)' : ''}">
            <i class="fa fa-random"></i>
          </button>
        </li>
        <li>
          <button class="small-control" (click)="setRepeatMode()"
          [ngStyle]="{'color': isRepeatModeOn ? 'var(--theme-color)' : ''}">
            <i class="fa fa-undo"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="progress" style="-webkit-app-region: no-drag">
      <div class="track-time">
        <div class="current-time">{{ currentTime$ | async }}</div>
        <div class="track-length">{{ durationTime }}</div>
      </div>
      <div class="progress-area">
        <div #progressBar class="progress-bar" role="progressbar"
          [ngStyle]="{'width': (currentProgress$ | async) + '%'}" [attr.aria-valuenow]="(currentProgress$ | async) "
          aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
    </div>
    <div *ngIf="isPlayListOpened === true" class="playlist" style="-webkit-app-region: no-drag">
      <ul class="playListItems">
        <li *ngFor="let song of songs; let i = index">
          <div class="plItem" [ngStyle]="{'color': song?.id === activeSong?.id ? 'var(--theme-color)' : ''}">
            <span class="plNum">{{i+1 | number : '2.0-0'}}</span>
            <span class="plTitle" (click)="playSongFromPlaylist(song.id)">{{song.title}}</span>
            <!-- <span class="plLength">2:46</span> -->
            <span class="plRemove" (click)="deleteSongFromPlaylist(song.id)">
              <i class="fa fa-trash"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<audio #player preload="none" (timeupdate)="onTimeUpdate()" (pause)="onPause()" (ended)="onEnded()"></audio>